<div class="container main-container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Conquer Your Fear of Flying</h1>
        <p>Anxiety Care in the Air is a first-of-its-kind program developed by pilots, behavioral therapists, and formerly anxious flyers. Our dedicated staff is ready to help you overcome your fear of air travel <strong>forever</strong>. <br><strong>Available now in Southern California.</strong></p>

        <p><a href="/pages/about" class="btn btn-primary btn-large">Learn more »</a></p>
      </div>

			<div class="marketing">
				<h1>What we do</h1>
			</div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4 infobox">
          <h2>Education</h2>
<%= image_tag "engine.jpg" %>
           <p>To defeat your fear, you must first understand it. We teach clients the science behind airplanes and flying. Our instructors cover topics like the theory of flight, airplane operation, pilot training, and air traffic control.</p>
          <p><a class="btn" href="/pages/about">Learn more »</a></p>
        </div>
        <div class="span4 infobox">
          <h2>Skill Development</h2>
<%= image_tag "plane_demo.jpg" %>
           <p>We help clients identify individual stress triggers and maladaptive thoughts and then challenge them through intense flight and anxiety awareness education. We teach alternative coping skills, including respiratory control and thought challenging.</p>
          <p><a class="btn" href="/pages/about">Learn more »</a></p>
       </div>
        <div class="span4 infobox">
          <h2>Flying Together</h2>
<%= image_tag "flightattendant.jpg" %>
          <p>When you are ready to fly again, we will accompany you through every step of the process, from driving to the airport to takeoff. Because each client has specific fears and anxiety to address, our flight planning is flexible and customized.</p>
          <p><a class="btn" href="/pages/about">Learn more »</a></p>
        </div>
      </div>
</div>