<header class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <!-- <%= link_to "Anxiety Care in the Air", page_path("index"), :class => 'brand' %> -->

			<ul class="nav">
				<li>
					<%= link_to "About", page_path("about") %>
				</li>
				<li>
					<%= link_to "Contact", page_path("contact") %>
				</li>
			</ul>

    </div>
  </nav>
</header>
